<header>
    <section class="hat-section">
        <div class="hat-section__container">
    
            <header class="hat-header">
            <div class="hat-header__burger">
                <span></span>
            </div>
            <nav class="hat-header__menu">
                <ul class="header-menu__list">
                    <li>
                        <a href="#" class="header-menu__link">home</a>
                    </li>
                    <li>
                        <a href="#" class="header-menu__link">about us</a>
                    </li>
                    <li>
                        <a href="#" class="header-menu__link">our journal</a>
                    </li>
                    <li>
                        <a href="#" class="header-menu__link">projects</a>
                    </li>
                    <li>
                        <a href="#" class="header-menu__link">news</a>
                    </li>
                    <li>
                        <a href="#" class="header-menu__link">features</a>
                    </li>
                    <li>
                        <a href="#" class="header-menu__link">contact</a>
                    </li>
                </ul>
            </nav>
        </header>
    
            <div class="hat-content">
            <img class="hat-content__img" src="./dist/img/intro_img_1.png" alt="intro image"/>
        </div>
    
        </div>
    </section>    
</header>