* {
  padding: 0;
  margin: 0;
}
.page__body {
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 1900px;
}
.container {
  background-color: #313131;
  display: flex;

  margin: 0;
  padding: 0;
  width: 1900px;
}
.start_menu_image {
  width: 81px;
}
.logo_image {
  width: 27px;
  height: 27px;

  align-items: center;
  justify-content: center;
  margin: 21px;
}
.logo_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  margin-top: 22px;
}
.start_menu {
  width: 722px;
  margin-left: 450px;
  margin-right: 480px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.start_menu_list {
  width: 722px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
}
.start_menu_link {
  color: #ffffff;
  display: inline-block;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  /* padding: 27px; */
}
.start_menu_link_hover :hover {
  color: #14b9d5;
}
.search_button {
  width: 68px;
  height: 100%;
  background-color: #000000;
  border: none;
  margin-right: 0;
}
.search_button_image {
  width: 17px;
  height: 17px;

  align-items: center;
  justify-content: center;
}

.start_header {
  width: 1900px;
  height: 369px;
  background-image: url(../images/header-bg.jpeg);
  background-size: cover;
  background-position-y: center;
  margin: 0;
  padding: 0;
}
.start_title {
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 163px;
  padding-left: 630px;
  padding-bottom: 44px;
  margin: 0;
}
.start_button_subscribtion {
  background-color: #89ca62;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding: 17px 19px;
  margin-right: 20px;
  margin-left: 797px;
  margin-bottom: 74px;
}
.start_button_articles {
  background-color: #14b9d5;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding: 16px 30px;
}
.posts {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  width: 1900px;
  flex-direction: column;
  justify-content: space-between;

  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.section_title {
  font-weight: 700;
  font-size: 27px;
  line-height: 37px;
  color: #18b4cf;
  text-transform: uppercase;
  display: flex;
  width: 330px;
  /* justify-content: center;
  align-content: center; */
  /* margin-right: 785px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.posts_list {
  list-style: none;
  flex-direction: column;
  gap: 30px;
  height: 840px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-bottom: 60px;
}
.posts_item {
  width: 370px;
  padding: 0;
}
.posts_name {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 60px;
  margin: 0;
  padding: 0;
}
.clients {
  width: 1900px;
  height: 588px;
  background-image: url(../images/parallax-bg.jpeg);
  background-size: cover;
  margin: 0;
}
.clients_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 106px;
  padding-left: 702px;
  padding-bottom: 87px;
  margin: 0;
}
.clients_line {
  background-color: #18b4cf;
  width: 60px;
  height: 3px;
  border: none;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 105px;
}
.clients_content {
  margin: 0 auto;
  width: 890px;
}
.clients_list {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
}
.top_rated_list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  margin: 0;
}
.news_content {
  margin-left: 372px;
  margin-bottom: 77px;
}
.news_list {
  width: 1200px;
  list-style: none;
  display: grid;
  gap: 35px;
  grid-template-rows: 259px 417px 417px 259px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}
.news_item {
  background-color: #f9f7f7;
}
.news_image {
  width: 100%;
}
.news_item--first {
  grid-area: item1;
  display: flex;
  align-items: center;
}
.news_item_text_wrapper {
  background: #f9f7f7;
  padding-top: 12px;
  /* padding-right: 24px; */
  text-align: right;
}
.news_item_title_wrapper {
  background: #f9f7f7;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 11px;
}
.news_item--second {
  grid-area: item2;
}
.news_item--third {
  grid-area: item3;
}
.news_item--fourth {
  grid-area: item4;
}
.news_item--fifth {
  grid-area: item5;
}
.news_item--six {
  grid-area: item6;
}
.news_item--seven {
  grid-area: item7;
}
.news_item--eight {
  grid-area: item8;
  display: flex;
  align-items: center;
}
.news_item_title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #353a3d;
  margin-bottom: 14px;
}
.news_item_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
}
.end_copyrighting {
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin: 0;
  padding-top: 30px;
  width: 1900px;
}
.copyrighting_text {
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  margin-top: 0;
  margin-left: 367px;
  justify-content: center;
}
.copyrighting_list {
  list-style: none;
  display: grid;
  grid-template-columns: 38px 64px;
  gap: 0;
  justify-content: end;
  align-content: center;
  margin-right: 386px;
  margin-top: 0;
}
#main_menu {
  float: left;
  position: fixed;
  left: 0px;

  padding-right: 10px;
  background: #313131;
  background: -moz-linear-gradient(top, #313131, #737373);
  background: -webkit-gradient(
    linear,
    center top,
    center bottom from(#454545),
    to(#737373)
  );
  opacity: 0.9;

  -moz-border-radius: 0px 10px 10px 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #eee;
  -moz-box-shadow: 0px 0px 2px #444;
  -webkit-box-shadow: 0px 0px 2px #444;
  box-shadow: 0px 0px 2px #444;
}
#navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  margin-left: 80px;
  border-left: 1px solid #333;
}
#navigation li {
  float: left;
}
#navigation li a {
  float: left;
  padding: 20px 0px;
  width: 100px;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #333;
  border-left: 1px solid #888;
  text-align: center;
  color: #18b4cf;
  text-shadow: 3px 1px 3px #111;
}
#navigation li a:hover {
  background: #555;
  background: -moz-linear-gradient(top, #555, #333 50%, #222 95%, #454545);
  background: -webkit-gradient(
    linear,
    center top,
    center bottom from(#333),
    to(#454545)
  );
  color: #ededed;
  text-shadow: -3px -1px 3px #555;
}
#menu_label {
  float: left;
  text-align: center;
  transform: rotate(270deg);
  transform-origin: 83% 60%;
  color: #18b4cf;
  font-weight: bold;
}
#btn_hide {
  background-color: #14b9d5;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  padding: 16px 30px;
  text-align: center;
  border: none;
  width: 1200px;
}
.scrollUp {
  position: fixed;
  bottom: 25px;
  right: 25px;
  opacity: 1;
  width: 40px;
  height: 40px;
  z-index: 9999999;
}
