.list_item > p {
  position: relative;
  margin-top: 30px;
}

.list_item > p::after {
  content: "<>";

  position: absolute;
  bottom: 100%;
  left: calc(50% - 19px);
  width: 30px;
  height: 15px;

  /* width: 30px;
  height: 15px;  работает потому что position: absolute делает элемент блочным*/

  background-color: magenta;
}
