* {
  margin: 0;
}

.container {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;

  margin: 0;
  padding: 0;
}
.page_header {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.header_menu {
  list-style: none;
  width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_menu_item {
  margin: 0 auto;
}
.menu_logo {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  margin-right: 700px;
}
.menu_logo:hover {
  color: #01813f;
}
.calendar_icon,
.email_icon {
  margin-right: 25px;
}
.icon_list {
  display: flex;
}

.header_menu_icon *:hover {
  fill: #01813f;
}

.accent_color_hover:hover {
  color: #01813f;
}

.menu_text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  padding-left: 25px;
}
.page_form {
  background-color: #ffffff;
  width: 444px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 75px;
}
.form_title {
  display: flex;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 15px;
}
.form_square {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  margin-right: 43px;
}
.form_title_text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
  margin-right: 216px;
}
.form_log_in {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}
.form_log_in:hover {
  text-decoration: underline;
  color: #01813f;
}
.form_socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.form_socials_facebook {
  width: 160px;
  height: 48px;
  background-color: #305db8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_socials_facebook:hover {
  background-color: #022263;
}
.form_socials_facebook_logo {
  margin-right: 18px;
}
.form_socials_text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding-left: 18px;
  border-left: 1px solid rgba(43, 13, 9, 0.1);
}
.form_socials_google {
  width: 160px;
  height: 48px;
  background-color: #df4a32;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}
.form_socials_google:hover {
  background-color: #ab1f09;
}
.form_socials_google_logo {
  margin-right: 7px;
}
.form_delimiter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.form_line {
  width: 152px;
  height: 0px;
  background-color: #f2f2f2;
  margin-left: 5px;
  margin-right: 5px;
}
.form_or {
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}
.sign_up_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_field {
  width: 324px;
  height: 44px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.form_field:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form_field::placeholder {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #bebebe;
}
.form_field:focus::placeholder {
  color: #434343;
}
.form_check_text {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  margin-bottom: 20px;
  margin-right: 110px;
}
.accent_color {
  color: #3cb878;
}
.button_creation {
  width: 324px;
  height: 46px;
  background-color: rgba(60, 184, 120, 0.8);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 40px;
}
.button_creation:hover {
  background-color: #01813f;
}
.form_check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form_check + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form_check + label::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #f2f2f2;
  margin-right: 10px;
  margin-left: 30px;
  background-image: url(../images/terms_submition.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.form_check:checked + label::before {
  background-image: url(../images/submition_checked.svg);
}
.form_check:not(:disabled):not(:checked) + label:hover::before {
  background-image: url(../images/submition_checked.svg);
}
.accent_color:hover {
  text-decoration: underline;
}
