html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.page_body {
  font-size: 30px;
}

.text {
  color: #ff00ff;
  width: 300px;
  padding: 20px;
  border: 1px groove #000000;
}
.word {
  color: green;
  height: 160px;
  border: 1px groove #000000;
  padding-left: 20px;
  padding-top: 100px;
  margin-top: 100px;
  margin-left: 30px;

  display: inline-block;
  vertical-align: middle;
  /* vertical-align писать обязательно */
}
