* {
  margin: 0;
  padding: 0;
}
.body_page {
  min-width: 1200px;
  font-family: "Montserrat", sans-serif;
}
.page__header {
  background-image: url(../images/background_image.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 1012px;
}
.header_navigation {
  background-color: rgba(94, 93, 88, 0.6);
  height: 120px;
  /* width: 1160px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_navigation_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 305px;
}
.header_navigation_container {
  position: relative;
  text-align: center;
  margin-right: 5px;
}
.header_navigation_logo_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #ffffff;
  text-align: center;
}
.header_navigation_logo_text {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  align-items: center;
  color: #ffffff;
}
.accent_color {
  color: #18cfab;
}
.header_navigation_list {
  list-style: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: flex;
}
.header_navigation_link {
  color: rgba(255, 255, 255, 0.6);
  margin-right: 21px;
  padding-bottom: 50px;
}
.header_navigation_link:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}
.start_header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 265px;
}
.start_header_intro {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}
.start_header_title {
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 22px;
}
.start_header_explain {
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
  margin-bottom: 22px;
}
.start_header_buttons {
  margin-top: 135px;
  display: flex;
  justify-content: center;
}
.start_button_explore {
  width: 169px;
  height: 63px;
  background-color: #18cfab;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  border-top: 5px solid #ffffff;
  text-transform: uppercase;
  padding: 16px 17.5px;
  margin-right: 26px;
  border-radius: 5px;
}
.start_button_purchase {
  width: 168px;
  height: 63px;
  background-color: #00cbf6;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-top: 5px solid #ffffff;
  padding: 16px 11.5px;
  border-radius: 5px;
}
.pros_list {
  display: flex;
  margin-top: 8px;
}
.pros_item {
  width: 482px;
  height: 377px;

  background-color: #18cfab;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.pros_item_first {
  background-color: #1c2a33;
}
.pros_title {
  font-family: "Montserrat", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 58px;
}
/* .hidden {
  display: none;
} */
.section_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  align-items: center;
  color: #4e4e4e;
  /* margin-top: 85px; */
  margin-bottom: 26px;
}
.services {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.section_header {
  position: relative;
}
.section_header_line {
  background-color: #18cfab;
  width: 75px;
  height: 1px;
  border: none;
  margin: 3px auto;
}
.section_header_line_second {
  position: relative;
  left: 10px;
}
.services_list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-top: 70px;
  margin-bottom: 28px;
}
.services_item {
  background-color: #f8fcfe;
  border: 1px solid #f2f2f2;

  padding: 16px 33px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 39px;
  align-items: center;
  text-align: center;
  color: #717171;
  position: relative;
}
.services_item:hover {
  border: 1.5px solid #18cfab;
}
.services_item.active {
  background-color: #18cfab;
}
.services_item.active::after {
  content: "";
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #18cfab;
  bottom: -30px;
  left: 67px;
  position: absolute;
}
.services_content {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 1260px;
  margin-bottom: 90px;
}
.services_image {
  margin-right: 15px;
}
/* .hidden {
  display: none;
} */
.pros_title_first {
  color: #18cfab;
  margin-top: 48px;
}
.pros_image_first {
  color: #18cfab;
}
.purchase {
  background-image: url(../images/purchase_bcgrnd.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 476px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.purchase_title {
  font-family: "Montserrat", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 12px;
}
.purchase_text {
  font-family: "Montserrat", sans-serif;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  color: #d8d8d8;
  margin-bottom: 62px;
}
.button_purchase {
  display: flex;
  justify-content: center;
  width: 169px;
  height: 63px;
  background-color: #18cfab;
  font-family: "Montserrat", sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  border-top: 5px solid #ffffff;
  text-transform: uppercase;
  padding: 16px 11.5px;
}
.work {
  background-color: #e9edef;
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}
.work_list {
  display: flex;
  justify-content: center;
  align-self: center;
  list-style: none;
  margin-top: 70px;
  margin-bottom: 70px;
}
.work_list_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  align-items: center;
  color: #717171;
  border: 1px solid #dadada;
  padding: 15px;
}
.work_list_name:hover {
  border: 1px solid #18cfab;
}
.work_examples_wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  list-style: none;
  flex-wrap: wrap;
  margin: auto;
}

.work_image {
  height: 206px;
}
.work_examples {
  position: relative;
}
.work_image_hover {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e9edef;
  height: 100%;
  width: 285px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-top: 5px solid #18cfab;
}
.work_image_hover_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 15px;
}
.work_image_hover_icon {
  margin-bottom: 25px;
}
.work_examples:hover .work_image_hover {
  display: flex;
}
.work_image_hover_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #8a8a8a;
}
.hide {
  opacity: 1;
  animation-name: filterExamples;
  animation-fill-mode: forwards;
}
@keyframes filterExamples {
  to {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
  }
}
.load_button {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin: auto;
  background-color: #18cfab;
  margin-top: 70px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 22px;
  color: #ffffff;
}
.load_text {
  margin-left: 15px;
  font-size: 14px;
  text-align: center;
}
.news {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.news_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;
  margin-top: 70px;
  margin-bottom: 127px;
}
.news_item {
  padding-right: 35px;
  width: 263px;
  margin-right: 25px;
}
.news_item_wrapper {
  position: relative;
  width: 263px;
}
.news_title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  text-align: center;
  color: #717171;
}
.news_date {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  background-color: #203e38;
  color: #ffffff;
  padding: 15px 6px;
  left: 193px;
  width: 70px;
  height: 70px;
  top: 0px;
}
.news_links {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #777777;
  display: flex;
  justify-content: center;
  align-self: center;
}
.news_comments {
  border-left: 1px solid #777777;
  padding-left: 10px;
  align-content: center;
  padding-top: 0;
  margin-left: 10px;
  margin-bottom: 45px;
}
.news_item:hover .news_date {
  background-color: #18cfab;
}
.news_item:hover .news_title {
  color: #18cfab;
}
.feedback {
  background-image: url(../images/people_bgd.png);
  /* width: fit-content; */
  height: 853px;
  display: flex;
  justify-content: center;
}
.container {
  width: 1160px;
}
.title_white {
  color: white;
  padding-top: 100px;
}
.feedback_content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.quotes {
  margin-top: 68px;
  width: 44px;
  height: 30px;
  margin-bottom: 37px;
}
.feedback_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.feedback_description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #bbbbbb;
  margin-bottom: 37px;
}
.feedback_position {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #bbbbbb;
  margin-top: 15px;
}
.feedback_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
}
.hidden {
  display: none;
}
.feedback_image {
  margin-top: 50px;
  margin-bottom: 70px;
  border: 5px solid #1fdab5;
  border-radius: 50%;
}
.feedback_slider {
  display: flex;
  justify-content: center;
  align-content: center;
}
.feedback_slider_image {
  margin-right: 35px;
  list-style: none;
  justify-content: center;
  align-self: center;
  border: 3px solid #1fdab5;
  border-radius: 50%;
}
.feedback_slider_image.shown {
  position: relative;
  top: -10px;
}
.slider_wrapper {
  display: flex;
}
.slider_button {
  width: 31px;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  color: #ffffff;
  justify-content: center;
  align-self: center;
  margin-right: 35px;
}
.slider_button:hover {
  background-color: #18cfab;
}
.page_footer {
  background-color: #22353f;
  height: 121px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.footer_text_copyright {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  align-self: center;
  color: #aeaeae;
}
