.page {
  margin: 0;
  font-family: sans-serif;
}
.body_page_dark {
  background-color: black;
}
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  list-style-type: none;
  margin: 31.5px 330px 31.5px 330px;
  padding: 25.5px 72px 25.5px;
  text-align: center;
}
.navbar_list {
  width: 120px;
  float: left;
  border: 0;
}
.navbar_item {
  display: block;
  text-decoration: none;
  color: #ff0000;
  text-align: center;
}
.image {
  width: 100%;
  object-fit: cover;
}
.content-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 49px 253px 38px 253px;
  text-align: center;
  color: #373737;
}
.content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-top: 0;
  padding: 38px 67.5px 28px 67.5px;
  text-align: center;
  color: #373737;
}
.button-start {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;

  padding: 17.5px 43px 17.5px 43px;
  background-color: #ff0000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  border: 0;
}
.copyright {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #504949;
  padding: 40px 105px 29px 713px;
  text-align: right;
}
