.grid-container {
  display: grid;
  /* grid-auto-flow: column; ставит элементы колонками */
  /* grid-template-columns: 200px 200px 200px; / repeat(3, 200px) указывает количество колонок */
  /* minmax(200px, 400px)-определяет минимальное и максимальные размеры ячеек колонки */
  grid-template-columns: repeat(4, 300px);
  /* grid-template-rows: repeat(3,100px); задает количество рядов */
  grid-template-rows: repeat(2, 150px);
  /* grid-auto-rows: 100px; позволяет управлять неявными гридами. Если не задано grid-template-rows, то все гриды неявными и они становятся такими как grid-auto-rows. По умолчанию auto*/
  grid-auto-rows: minmax(150px, auto);
  /* grid-template-columns: repeat(3, min-content); min-content задает размеры по минимальному размеру контента. max-content по максимальному размеру контента */
  /* 1fr одна фракция -  часть от свободного пространства(родителя)
  grid-template-columns: repeat(3, 1fr 2fr); - получиться 6 колонки (1 фракция 2 фракции 1фракции 2фракции 1 фракция 2фракции)
   */
  justify-content: center;
}
.grid-element {
  font-size: 30px;
  font-weight: bold;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: #b6b1d6;
  border: 1px solid #000;
}

/* .grid-element--last {
  grid-column: span 3; должен растягивать один элемент на несколько ячеек
} */
