.buttons {
    padding: 20px;
    border:none;
    border-radius: 10px;
    margin: 20px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    outline: none;
    cursor: pointer;
  }
  
  