.page {
  background-image: url(../images/background.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.page_header {
  display: flex;
  flex-direction: column;
  height: 65px;
  width: 1030px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  padding-bottom: 22px;
  padding-top: 46px;
  margin: 0 auto;
}

.logo {
  display: block;
  float: left;
  padding-left: 40px;
}
.logo:hover .logo_link {
  background: url(../images/logo_hover.png);
}
.logo:hover .logo_title {
  color: #f26522;
}
.logo_link {
  background-image: url(../images/logo.png);
  height: 47px;
  width: 53px;
  float: left;
  margin-right: 10px;
}
.logo_title {
  font-weight: 700;
  font-size: 29px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.logo_title > .logo_holidays {
  font-size: 18px;
  vertical-align: top;
}
.contact {
  display: flex;
  flex-direction: column;
}
.contact_email {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  height: 21px;
  width: 219px;
  text-align: right;
  margin-bottom: 20px;
}
.contact_email:hover {
  color: #f26522;
}
.contact_tel {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  height: 21px;
  width: 219px;
  text-align: right;
}
.contact_tel:hover {
  color: #f26522;
}
.holiday_options {
  margin-top: 25px;
}
.holiday_options_wraper {
  width: 1030px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.tours_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  width: 1030px;
  /* margin-right: 165px; */
}
.tours_item {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hover_details {
  background-color: #f26522;
  width: 300px;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #ffffff;
}
.hover_details_from {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  height: 14px;
  width: 22px;
  margin: 0;
  padding-left: 16px;
  padding-top: 8px;
}
.hover_details_price {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  width: 36px;
  height: 14px;
  margin: 0;
  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 12px;
}
.hover_details_view {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  margin: 0;
  padding-bottom: 12px;
  padding-top: 29px;
}
.hover_details_view::after {
  content: ">";
  padding-left: 15px;
  padding-right: 14px;
  width: 5px;
  height: 10px;
}
.details_wraper {
  display: none;
  position: absolute;
}
.tours_link:hover .details_wraper {
  display: block;
  top: 170px;
}
.tours_link:hover .tours_title {
  color: #f26522;
}
.tours_title {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 35px;
}
.copyright_text {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 15px;
}
