.box {
  margin: 0;
  padding-left: 0;
  list-style: none;
  border: 2px solid #000;
  height: 300px;

  font-size: 30px;
  font-weight: 700;
  margin: 30px auto;
  width: 400px;

  display: flex;
  /* justify-content: space-around;
  align-content: space-around; */
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  /* justify-content: ; размещаеет элементы вдоль основной, по умолчанию flex-start*/
  /* justify-content: space-evenly; со всех краев одинаковое растояниеЖ и по краям и между элементамию У space-around растояние по краям в два раза меньше */

  /* align-items: ; отвечает за росположение вдоль поперечной оси*/
  /* align-content: ; выравнивает ряды или колонки элементов вдоль поперечной оси*/

  /* flex-direction: ; отвечает за расположение (направление) осей*/
  /* flex-direction: row-reverse; меняет направление основной оси  column - поперечную*/

  /* flex-wrap: ;  определяет могут ли элементы переходят на новый ряд. nowrap-ставит элементы в один ряд. wrap- в несколько рядов. По усолчанию запрещенно(nowrap) Работает при ограничении высоты/ширины*/
  /* эти свойства задаются автоматически при display:flex*/
}
.box__item {
  background-color: lemonchiffon;
  border: 1px solid brown;
  padding: 15px 15px;
  margin: 15px 15px;
  height: 100px;
  width: 150px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box__item--first {
  flex-basis: 100%; /* (это работает только вместо высоты в даном случае, так как колонки и основная ось-поперечная) */
  margin-right: 20px;
}
.box__item--second,
.box__item--third {
  width: calc(30%-20px);
  height: calc(50%-10px);
}
/* align-self: ; двигает один элемент вдоль поперечной оси. насколько сдвинуть задаем margin*/

/* flex-grow: ; способность забирать все свободное пространства элементом */
/* flex-shrink: ; позволяет элементам отдавать свое пространство. Работает при ограниченом размере родителя (когда размер элемента больше чем размер родителя). Отдает пространство помещаяясь в размеры родителя, путес сжатия*/
/* flex-basis: ; размеры элемента вдоль основной оси. Имеет большую важность для элемента чем другие размеры вдоль основной оси*/
/* flex: lex-grow flex-shrink flex-basis; Можно так писать */

/* order: ; определяет визуальный порядок элементов. По умолчанию у всех 0, если ставим одному элементу 1, то элемент станет последним, так как у всех предыдущих стои 0. Если поставим -1, то станет первым, так как -1<0. задается конкретно элементу. */
/* тоже задаются автоматически при присвоении родителю display:flex*/

/* .box__item--first,
.box__item--third {
  margin-right: 20px;
}
.box__item--second {
  margin-right: auto;
} */

/* Выравнивание в целом: */
/* 
For text
  text-align

For inline element
  text-align
  vertical-align
  margin-right
  margin-left
  padding-right
  padding-left

For inline-block element
  text-align
  vertical-align MUST HAVE (baseline по умолчанию)

  margin
  padding

For block
  margin
  padding

+flex (работают для всего кроме текста)
 */
