$basic-font: normal 400 14px/1.5 'Roboto', sans-serif;

$txt-gray-color : #4E4E4E;
$txt-medium-gray-color : #5C5C5C;
$txt-light-gray-color : #7c7c7c;
$link-hover-green-color: #57A4A4;

$min-media-mobile: 320px;
$max-media-mobile: 767px;

$min-media-tablet: 768px;
$max-media-tablet: 990px;

$min-media-desktop: 991px;
$max-media-desktop: 1200px;