.page-title {
  text-align: center;
}
.text-block {
  font-size: 30px;
  border: 1px solid #000;
  margin: 10px;
}
.floating-element {
  color: blue;
  font-size: 30px;
}
.floating-element--left {
  color: #fff;
  background-color: deeppink;
  float: left;
  /* float: left; располагается с левой части родителя и обтекается другими элементами, становиться блочным (можем задать ширину, высоту) */
  width: 300px;
}
.floating-element--right {
  color: #fff;
  background-color: deeppink;
  float: right;
}
/* .clearfix::after {
  content: "";
  display: table; Тогда весь элемент занимет всю ширину родителя 
  clear: both; очищает поток. Очищать нужно обязательно блоку, чтобы оно не влияло на другие блоки. 
} */
/* .big-letter::first-letter { 
    font-size: 7em
    float: left  Делает первую букву большой и обтекаемой текстом 
}*/
