<section class="resent-post-section">
    <div class="resent-post-section__container">

        <h4 class="resent-post__title">- our recent posts</h4>

        <div class="resent-post__content">
            <div class="resent-post-content-item">
                <img class="content-item__img" src="./dist/img/post1img.png" alt="post image"/>
                <div class="content-item__cont">
                    <span class="cont-item__title">Aenean Adipiscing Etiam Vestibulum</span>
                    <p class="cont-item__detales">Photography, Journal   /   9 Comments</p>
                    <p class="cont-item__txt">Etiam porta sem malesuada euismod. Aenean leo quam.
                        Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>

            <div class="resent-post-content-item">
                <img class="content-item__img" src="./dist/img/post2img.png" alt="post image"/>
                <div class="content-item__cont">
                    <span class="cont-item__title">Aenean Adipiscing Etiam Vestibulum</span>
                    <p class="cont-item__detales">Photography, Journal   /   9 Comments</p>
                    <p class="cont-item__txt">Etiam porta sem malesuada euismod. Aenean leo quam.
                        Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>

            <div class="resent-post-content-item">
                <img class="content-item__img" src="./dist/img/post3img.png" alt="post image"/>
                <div class="content-item__cont">
                    <span class="cont-item__title">Aenean Adipiscing Etiam Vestibulum</span>
                    <p class="cont-item__detales">Photography, Journal   /   9 Comments</p>
                    <p class="cont-item__txt">Etiam porta sem malesuada euismod. Aenean leo quam.
                        Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>

            <div class="resent-post-content-item">
                <img class="content-item__img" src="./dist/img/post4img.png" alt="post image"/>
                <div class="content-item__cont">
                    <span class="cont-item__title">Aenean Adipiscing Etiam Vestibulum</span>
                    <p class="cont-item__detales">Photography, Journal   /   9 Comments</p>
                    <p class="cont-item__txt">Etiam porta sem malesuada euismod. Aenean leo quam.
                        Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="last-instashot-section">
    <div class="last-instashot-section__container">

        <div class="instashot-titlebox">
                <span class="instashot-titlebox__title">- last instagram shot</span>
                <span class="instashot-titlebox__title right"><a href="#">go to our instagram page -</a></span>
            </div>

        <div class="instashot-imgbox">
                <img class="instashot-imgbox__img" src="./dist/img/intsa_post_1.png" alt="instashot"/>
                <img class="instashot-imgbox__img for-tabl" src="./dist/img/intsa_post_2.png" alt="instashot"/>
                <img class="instashot-imgbox__img for-tabl" src="./dist/img/intsa_post_3.png" alt="instashot"/>
                <img class="instashot-imgbox__img for-desk" src="./dist/img/intsa_post_4.png" alt="instashot"/>
            </div>

    </div>
</section>

