.container {
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

%list-clear {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.page-header {
    & .container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 992px) {
            flex-wrap: wrap;
        } 
        @media (max-width: 576px) {
            padding: 0;
        } 
    }
}

.logo {
    margin-right: auto;
    align-self: center;
    @media (max-width: 576px) {
        margin-left: 15px;
    } 
}
.logo__img{
    @media (max-width: 576px) {
        width: 78px;
    } 
}
.page-header__nav {
    @media (max-width: 992px) {
        order: 1;
        width: 100%;
    }
}

.menu {
    display: flex;
    @extend %list-clear;
    margin-right: 50px;

    @media (max-width: 992px) {
        background-color: rgba(0, 0, 0, 0.05);
        margin-right: 0;
    }
}

.menu__item {
    margin-right: 50px;
    display: flex;

    @media (max-width: 992px) {
        flex-grow: 1;
        text-align: center;
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.menu__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-menu;
    width: min-content;

    padding-top: 32px;
    padding-bottom: 32px;

    @media (max-width: 992px) {
        width: 100%;
    }
    @media (max-width: 576px) {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
        line-height: 15px;
    } 
    &--active {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: $accent-color-blue;
            @media (max-width: 576px) {
                height: 2px;
            } 
        }
    }
}

.auth {
    @extend %list-clear;
    display: flex;
    height: 100%;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    padding-right: 50px;
    padding-left: 50px;
    @media (max-width: 576px) {
        margin: 0;
        border-left: none;
        padding-right: 15px;
    padding-left: 0px;
    } 
}

.auth__item {
    padding-right: 5px;

    &:last-child {
        padding-right: 0;
        padding-left: 5px;
        position: relative;

        @media (max-width: 576px) {
            display: none;
        } 

        &::before {
            content: "";
            position: absolute;
            height: 10px;
            width: 2px;
            left: 0;
            bottom: 34px;
            background-color: $accent-color-green;
        }
    }
}

.auth__link {
    display: block;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 32px;

    color: $accent-color-green;
    @media (max-width: 576px) {
        padding-top: 22px;
        padding-bottom: 22px;
    } 
}

.lang {
    @extend %list-clear;
    margin-left: 30px;
    background: white;
    display: flex;
    align-self: center;
    align-items: center;
    border-radius: 14px;
    border: 1px solid #EBEBEB;
    @media (max-width: 576px) {
        margin-right: 15px;
        margin-left: 15px;
    } 
}

.lang__link {
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    display: block;
    text-transform: uppercase;

    color: #919191;

    padding: 7px 7px 7px 3px;

    &--active {
        border-radius: 14px;
        color: #fff;
        background-color: $accent-color-blue;
        padding-left: 7px;
    }
}
