.hero{
    background-image: url(../../src/img/bg.png);
    padding-top: 171px;
    padding-bottom: 80px;
}
.hero__title{
font-style: normal;
font-weight: 900;
font-size: 60px;
line-height: 75px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
margin: 0;
@media (max-width: 992px) {
    font-size: 40px;
}

}
.hero__description{
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
margin: 0;
}
.stats{
    @extend %list-clear;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #FFFFFF;
    margin-top: 100px;
    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        &::after,
        &::before{
            content: "";
            position: absolute;
            
            background-color:rgba(255, 255, 255, 0.25);
        }
        &::after{
            width: 2px;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &::before{
            height: 2px;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.stats__item{
    padding: 35px 15px;
    
    &:not(:last-child) {
        border-right: 2px solid rgba(255, 255, 255, 0.25);
   
    @media (max-width: 992px) {
       border: none;
    }
}
}
.stats__number{
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}
.stats__description{
    font-weight: 500;
font-size: 16px;
line-height: 19px;
margin: 0;
}
.clients{
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.2);
    @extend %list-clear;
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    text-align: center;
  
    &::after{
        content: "";
        width: 2px;
        background: #F3F3F3;
        @media (max-width: 992px) {
            width: 100%;
            height: 1px;
        }
    }
    @media (max-width: 992px) {
        grid-template-columns: 1fr;
    }
}
.clients__item{
  padding: 58px 50px;
  &:last-child{
      order: 1;
  }
  @media (max-width: 992px) {
    padding: 32px 25px;
}
}
.clients__description{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
margin-top: 0;
margin-bottom: 32px;
@media (max-width: 992px) {
    font-size: 13px;
    line-height: 20px;
}
}
.clients__link{
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    

border-radius: 40px;
padding: 28px;
width: 354px;
display: inline-block;
background-repeat: no-repeat;

&--blue{
    background-color: #2E9ADB;
    box-shadow: 0px 10px 20px rgba(78, 170, 224, 0.35);
    background-image: url(../../src/img/clients_arrow_down.svg);
    background-position: right 45px center;
}
&--green{
    background-color: #55B570;
    box-shadow: 0px 10px 20px rgba(78, 170, 224, 0.35);
    background-image: url(../../src/img/clients_arrow_right.svg);
    background-position: right 40px center;
}
}
