@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin mq($screen, $min) {
    @if ($min) {
        @media (min-width: $screen) {
            @content;
        }
    } @else {
        @media (max-width: $screen) {
            @content;
        }
    }
}
