<section class="footer-section">
    <div class="footer-section__container">

        <h4 class="footer__title">- get in touch with us -</h4>

        <span class="footer__txt">Maecenas faucibus molli interdum.
            Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
            Curabitur blandit tempus porttitor vollisky inceptos mollisestor.
        </span>

        <span class="footer__txt for-mobile">
            Maecenas faucibus molli interdum.
            Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
        </span>

        <div class="footer__icons">
            <a href="#" class="icon-box icon-box__wifi">
                    <img class="icon-img" src="./dist/img/wifi-icon.png" alt="">
                </a>
            <a href="#" class="icon-box icon-box__facebook">
                <img class="icon-img" src="./dist/img/facebook-icon.png" alt="">
                </a>
            <a href="#" class="icon-box icon-box__tumblr">
                <img class="icon-img" src="./dist/img/twitter-icon.png" alt="">
                </a>
            <a href="#" class="icon-box icon-box__dribbble">
                <img class="icon-img" src="./dist/img/dribbble-icon.png" alt="">
                </a>
            <a href="#" class="icon-box icon-box__pinterest">
                <img class="icon-img" src="./dist/img/pinterest-icon.png" alt="">
                </a>
        </div>

        <div class="footer__info">
            <div class="info__address">Moonshine St. 14-05 Light City / </div>
            <div class="info__tel"> T. +00 (123) 456 78 90 / </div>
            <div class="info__email">first.last@email.com</div>
        </div>

    </div>
</section>
