.page {
  height: 100%;
}
.page_body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}
.text {
  line-height: 1.25;
  font-weight: 700;
  font-size: 20px;
  /* color: black; */
}
.text--green {
  color: green;
}
p {
  color: coral;
}
/* 
Tag, pseudo-elements - 1
class, pseudo-class, by attribute - 10
ID - 100
Attribute style - 1000

!important - делает стиль важнее (лучше вообще не использовать)
*/
