// $font-stack: Helvetica, san-serif;
// body{
//     font: 100% $font-stack;
//     background-color: rgb(188, 175, 201);

//     @include mq(1200px, false){
//         background-color: antiquewhite;
//     }
// }
// .box { 
//     @include transform(rotate(30deg)); 
// }


// Mobile firdt
// @media (min-width:768px){
//     background-color: red;
// } 
// @media(min-width: 1200px){
// background-color: blue;
// }
// Desktop firdt
// @media (max-width:1200px){
//     background-color: red;
// } 
// @media(max-width: 768px){
// background-color: blue;
// }
.list{
    list-style: none;
    padding-left: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.list__item{
    box-sizing: border-box;
    flex-basis: calc((100% - 40px) / 3);
    // margin-left: auto;
    // margin-right: auto;
    margin-bottom: 40px;
    @media (max-width:1024px){
        flex-basis: calc((100% - 40px) / 2);
    }
    @media (max-width: 576px) {
        flex-basis: 100%;
    }
    padding: 30px;
    font-size: 30px;
    border: 3px solid black;
}