.features{
    background-color: #F4F4F4;
    margin-top: 70px;
    
    };
.container{
    &--features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px 160px 160px 160px 160px;
    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 480px) {
        display: flex;
        flex-direction: column;
    }
}
}
.features__title{
    color: $main-color;
    font-family: $font-Monserat;
font-weight: 700;
font-size: 48px;
line-height: 50px;
align-items: center;
margin-top: 95px;
margin-bottom: 19px;
grid-column: 2;
  grid-row: 1;

&::before {
    content: "<";
}
&::after{
    content: ">";
}
}
.features__list{
    grid-column: 1;
  grid-row: 1 / 5;
    @extend %list-clear;
    display: flex;
    align-items: center;
justify-content: center;
margin-top: 98px;
margin-right: 50px;
display: flex;
flex-direction: column;
}
.pros__item{
    display: flex;
    width: 525px;
    align-items: center;
justify-content: center;
}
.pros__img{
    margin-right: 23px;
    &--tool{
        margin-right: 44px;
    }
    &--stuff{
        margin-right: 59px;
    }
    &--clock{
        margin-right: 53px;
    }
}
.text__title{
    font-family: $font-Monserat;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #323232;
}
.text__desc{
    font-family: $font-Monserat;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #848E97;
}
.features__img{
grid-column: 2;
grid-row: 2 / 5;
}