<section class="features"> 
    <div class="container container--features">
        <h4 class="features__title">Here is what you get</h4>
        <ul class="features__list pros">
            <li class="pros__item">
                <img class="pros__img" width="111" height="64" src="./dist/img/features/features_search.png" alt="search">
                <div class="pros__text text">
                <p class="text__title">Creatred to Make The Web Better</p>
                <p class="text__desc">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue. </p>
            </div>
            </li>
            <li class="pros__item">
                <img class="pros__img pros__img--tool" width="90" height="80" src="./dist/img/features/features_tool.png" alt="tool">
                <div class="pros__text text">
                <p class="text__title">Incredibly Powerful Tool</p>
                <p class="text__desc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
            </li>
            <li class="pros__item">
                <img class="pros__img pros__img--stuff" width="60" height="84" src="./dist/img/features/features_stuff.png" alt="stuff">
                <div class="pros__text text">
                <p class="text__title">Experimental Stuff</p>
                <p class="text__desc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
            </li>
            <li class="pros__item">
                <img class="pros__img pros__img--clock" height="71" width="71" src="./dist/img/features/features_clock.png" alt="clock">
                <div class="pros__text text">
                <p class="text__title">Creatred to Make The Web Better</p>
                <p class="text__desc">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
            </div>
            </li>
        </ul>
        <picture class="features__img">
            <source srcset="./dist/img/features/features_editor.png" media="(min-width: 993px)">
            <source srcset="./dist/img/features/features_editor.png" media="(min-width: 481px)">
            <source srcset="./dist/img/features/feature_editor_mob.png" media="(min-width: 320px)">
            <img src="./dist/img/features/features_editor.png" alt="example">
        </picture>
    </div>
</section>