.container {
  width: 1280px;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.ramda_start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;
}
.logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  justify-content: start;
  margin-top: 63px;
  margin-bottom: 38px;
}
.accent_color {
  color: rgb(0, 183, 255);
}
.menu_list {
  background-color: #35444f;
  margin: 0;
  /* padding-left: 0; */
  list-style: none;

  display: flex;
  padding-left: 0;
  justify-content: center;
}
.menu_link {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;

  padding: 26px;
  color: #ffffff;
}
.ramda_discription {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 54px;
}
.ramda_discription_cotent {
  width: 885px;
}
.ramda_discription_menu {
  padding-top: 26px;
  padding-bottom: 26px;
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  width: 344px;
  margin-right: 52px;
  height: 400px;
  margin: 0 auto;
}
.ramda_discription_navigation {
  width: 344px;
}
.ramda_discription_list {
  padding: 0;
  list-style: none;
}
.ramda_discription_item {
  display: inline-block;
  line-height: 27px;
  width: 344px;
}
.ramda_discription_link {
  color: #495863;
  display: inline-block;
  padding: 25px 44px;
  font-size: 27px;
  line-height: 27px;
}
.ramda_content_view {
  background-color: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: inline-block;
  vertical-align: middle;
  width: 885px;
  text-align: center;
}
.ramda_content_picture {
  height: 100%;
  width: 320px;

  margin: 0 auto;
  padding-top: 74px;
  padding-bottom: 74px;
}
.ramda_contect_text {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  padding-top: 34px;
}
.ramda_end {
  background-color: rgba(99, 105, 110, 0.48);
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.ramda_end_list {
  margin: 0;
  list-style: none;

  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  width: 875px;
  margin-right: auto;
}
.ramda_end_link {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #0c1927;
  font-size: 28px;
  line-height: 28px;
  padding: 20px;
}
.ramda_end_copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  text-align: center;
  margin-left: 135px;
}
